{% extends 'base.html' %} {% block header %}
<h1>{% block title %} Login {% endblock %}</h1>
{% endblock %} {% block content %}
<form method="POST">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    autocomplete="none"
    required
  />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <input type="submit" value="Login" />
</form>
<div class="">
  Or
  <a href="{{url_for('main.register')}}">Register</a>
  if it's your first time here!
</div>
{% endblock %}
