

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  {% block scripts %} {% endblock scripts %}
</head>



{% block navbar %}



<div class="w-full bg-black border-b-2 border-gray-500" id="navbar">

  <div class="flex justify-center text-white font-bold py-4">
    SharksApp - {% block title %} SharksApp {% endblock %} 
  </div>


  <div class="flex flex-wrap justify-between mx-4">

  
      <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
          <a class="text-white" href={{ url_for('main.index') }}>Home</a>
      </button>

    <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
      
          <a class="text-white" href={{ url_for('main.votes') }}>Votes</a>

  </button>

    <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
          <a class="text-white" href={{ url_for('main.next_game') }}>Next game</a>
  </button>

  {% if user and user.is_authenticated %}
  <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
      <a class="text-white" href={{ url_for('auth.loout') }}>Logout</a>
    </button> 

{% else %}
    <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
      <a class="text-white" href={{ url_for('auth.login') }}>Login</a>
    </button> 
{% endif %}
    <button class="bg-slate-500 m-4 p-4 rounded-md">
      <i class="fa-solid fa-bars"></i>
    </button>

  </div>
    
</div>

{% endblock %} {% block content %}

<div class="">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'success' %}

  <div class="" role="alert">
    {{ message }}
    <button type="button" class="" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% else %}

  <div class="" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endif %} {% endfor %} {% endif %} {% endwith %} {% block page_content %}{%
  endblock %}
</div>
{% endblock %}







