

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  {% block scripts %} {% endblock scripts %}
</head>



{% block navbar %}



<nav class="w-full bg-black border-b-2 border-gray-500 text-xl md:text-lg" id="navbar">
  <div class="container md:flex md:flex-wrap md:items-center md:justify-between md:mx-auto">

  

  <div class="flex justify-center text-white font-bold py-4">
    SharksApp - {% block title %} SharksApp {% endblock %} 
  </div>


  <div class="flex flex-wrap justify-between mx-4">

  <a class="text-white" href={{ url_for('main.index') }}>
      <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
          Home
      </button>
      </a>

      <a class="text-white" href={{ url_for('main.votes') }}>
    <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
          Votes
  </button>
  </a>

  <a class="text-white" href={{ url_for('main.next_game') }}>
    <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
          Next game
  </button>
  </a>

  {% if user and user.is_authenticated %}
  <a class="text-white" href={{ url_for('auth.logout') }}>
  <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
      Logout
    </button> 
    </a>

{% else %}
<a class="text-white" href={{ url_for('auth.login') }}>
    <button class="hover:bg-slate-500 p-4 m-2 rounded-md">
      Login
    </button> 
    </a>
{% endif %}

  </div>
    </div>
  </nav>

{% endblock %} {% block content %}

<div class="">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'success' %}

  <div id="flash_message" class="max-w-screen-sm bg-green-100 border-2 border-green-200 flex justify-between p-4 my-2 mx-auto rounded" role="alert">
    {{message}} 
    <button type="button" onclick="removeFlash()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% else %}

  <div id="flash_message" class="max-w-screen-sm bg-yellow-100 border-2 border-yellow-200 flex justify-between p-4 my-2 mx-auto rounded" role="alert">
    {{message}}
    <button type="button" onclick="removeFlash()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endif %} {% endfor %} {% endif %} {% endwith %} {% block page_content %}{%
  endblock %}
</div>
{% endblock %}







