{% extends "base.html" %} {% block scripts %}
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js
"></script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/rsvp.js') }}"
></script>

{% endblock scripts %} {% block title %} Availability {% endblock title %} {% block
page_content %}

<div class="flex justify-center">
  <div>
    <h1 class="text-3xl font-bold my-4">Confirming your availability for {{ next_game.round }}</h1>
    <ul class="my-2 text-lg">
      <li>{{ next_game.date_str }}</li>
      <li>{{ next_game.time_str }}</li>
      <li>{{ next_game.teams }}</li>
    </ul>
  </div>
</div>

{% if prev_response %}
<div>
  You previously said you were {{ prev_response }}
</div>
{% endif %}

<form method="POST" autocomplete="off" class="space-y-4">
  {{ form.csrf_token }} 
  <div class="flex">
  {{ form.availability(class_="mx-auto") }} 
  </div>
  <div>  
      <button class="flex mt-4 bg-blue-300 border-2 border-blue-400 p-2 rounded mx-auto hover:bg-blue-200">
        {{ form.submit(class_="hover:cursorpointer"), value=rsvp.is_playing }}
      </button>
  </div>
</form>
{% endblock page_content %}
