{% extends "base.html" %} {% block scripts %}

{% endblock scripts %} {% block title %} Availability {% endblock title %} {% block
page_content %}

<div class="flex justify-center">
  <div>
    <h1 class="text-3xl font-bold my-4">Confirming your availability for {{ next_game.round }}</h1>
    <ul class="my-2 text-lg">
      <li>{{ next_game.date_str }}</li>
      <li>{{ next_game.time_str }}</li>
      <li>{{ next_game.teams }}</li>
    </ul>
    {% if prev_response %}
    <div class="font-bold mt-4">
      You previously said you were {{ prev_response }}
    </div>
    {% endif %}
  </div>
</div>

<form method="POST" autocomplete="off" class="space-y-4">
  {{ form.csrf_token }} 
  <div class="flex">
  {{ form.availability(class_="mx-auto", value=rsvp.is_playing) }} 
  </div>
  <div>  
      <button class="flex mt-4 bg-blue-300 border-2 border-blue-400 p-2 rounded mx-auto hover:bg-blue-200">
        {{ form.submit(class_="hover:cursorpointer")  }}
      </button>
  </div>
</form>
{% endblock page_content %}
