{% extends "base.html" %} {% block scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"
></script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/votes.js') }}"
></script>

{% endblock scripts %} {% block title %} Votes {% endblock title %} {% block
page_content %}

<div class="flex justify-center">
  <div>
    <h1 class="text-3xl font-bold my-4">Votes for {{ prev_game.round }}</h1>
    <ul class="my-2 text-lg">
      <li>{{ prev_game.date_str }}</li>
      <li>{{ prev_game.time_str }}</li>
      <li>{{ prev_game.teams }}</li>
    </ul>
  </div>
</div>

<form class="p-24 mx-auto space-y-8" action="" method="post">
  <div class="flex justify-between">
    <div class="">
      <label for="player">Player</label>
      <select id="playerMenu1" class="">
        <option selected></option>
        {% for player in team %}
        <option>{{ player.username }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="">
      <label for="votes"> Votes </label>
      <select id="votesMenu1" class="">
        <option selected></option>
        {% for i in range(1, 4) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <hr />

  <div class="flex justify-between">
    <div class="">
      <label for="player">Player</label>

      <select id="playerMenu2" class="">
        <option selected></option>
        {% for player in team %}
        <option>{{ player.username }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="">
      <label for="votes"> Votes </label>
      <select id="votesMenu2" class="">
        <option selected></option>
        {% for i in range(1, 4) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <hr />

  <div class="flex justify-between">
    <div class="">
      <label for="player">Player</label>

      <select id="playerMenu3" class="">
        <option selected></option>
        {% for player in team %}
        <option>{{ player.username }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="">
      <label for="votes"> Votes </label>
      <select id="votesMenu3" class="">
        <option selected></option>
        {% for i in range(1, 4) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</form>

<div>
  <button
    class="flex bg-blue-300 border-2 border-blue-400 p-2 rounded mx-auto hover:bg-blue-200"
    onclick="submitVotes('{{prev_game.round}}', '{{prev_game.date_str}}')"
  >
    Submit votes
  </button>
</div>

{% endblock page_content %}
